@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.header {
  background: url("../images/header_background.png"), lightgray 50%/cover no-repeat;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.header__search {
  width: 479px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 19px 46px 20px 22px;
  border-radius: 112px;
  background: var(--txt_color_second, #FFF);
}
.header__search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}
.header__image {
  padding: 32px 0 144px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-page .header {
  background: #020F14;
}

.main {
  padding: 110px 0 123px 0;
  background: var(--txt_color_second, #FFF);
}
.main__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
  margin-bottom: 70px;
}
.main__filter-btn {
  width: 518px;
  padding: 54px 0 36px;
  border-radius: 5px;
  border: 1px solid #2CA7CB;
  background: transparent;
  color: var(--txt_color_main, #000);
  text-align: center;
  font-size: 32px;
  font-family: "Fugaz One";
  transition: all 0.3s ease;
}
.main__filter-btn.active {
  color: var(--txt_color_second, #FFF);
  background: var(--color_main, #2CA7CB);
}
.main__filter-btn:not(.active):hover {
  border: 1px solid var(--color_second, #E11E18);
  background: rgba(44, 167, 203, 0.1);
}
.main__content {
  display: flex;
  flex-wrap: wrap;
  gap: 70px 23px;
  padding: 70px 0 97px 0;
  border-top: 1px solid #AAAAAA;
}
.main__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main__item-img {
  width: 100%;
  border-radius: 5px;
}
.main__item-title {
  color: #000;
  font-size: 32px;
}
.main__item-title span {
  color: #E11E18;
}

.item__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.item__btns-btn {
  width: 225px;
  padding: 20px 0 19px 0;
  color: var(--txt_color-on-btn, #666);
  text-align: center;
  font-family: "Fugaz One";
  font-size: 20px;
  border-radius: 5px;
  background: #EEE;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.item__btns-btn:nth-child(2) {
  flex-grow: 1;
}
.item__btns-btn:hover {
  background: var(--stroke_mini_photo, #2CA7CB);
  color: var(--txt_color_second, #FFF);
}

.show-more-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-more-btns_showmore {
  color: var(--txt_color_second, #FFF);
  text-align: center;
  font-family: "Fugaz One";
  font-size: 32px;
  border-radius: 10px;
  background: var(--color_main, #2CA7CB);
  width: 377px;
  padding: 23px 0;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.show-more-btns_showmore:hover {
  background: #17CBFF;
}
.show-more-btns_up {
  background: none;
  border: none;
  outline: none;
}
.show-more-btns_up img {
  display: block;
  transition: all 0.5s ease;
}
.show-more-btns_up:hover img {
  transform: translateY(-15px);
}

.second-page .main {
  padding: 120px 0;
}
.second-page .main__info {
  display: flex;
  justify-content: space-between;
}
.second-page .main__info-img {
  width: 785px;
  height: 474px;
}
.second-page .main__desc {
  padding: 120px 0;
}
.second-page .main__desc-title {
  color: #000;
  font-size: 36px;
  margin-bottom: 16px;
}
.second-page .main__desc-title span {
  color: #E11E18;
}
.second-page .main__desc-text {
  color: #000;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 164%; /* 32.8px */
}
.second-page .main__photos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.second-page .main__photos img {
  border-radius: 5px;
}
.second-page .main__photos img:nth-child(6n+1) {
  width: 883px;
  height: 411px;
}
.second-page .main__photos img:nth-child(6n+2) {
  width: 687px;
  height: 411px;
}
.second-page .main__photos img:nth-child(6n+3) {
  width: 1598px;
  height: 570px;
}
.second-page .main__photos img:nth-child(6n+4) {
  width: 687px;
  height: 411px;
}
.second-page .main__photos img:nth-child(6n+5) {
  width: 883px;
  height: 411px;
}
.second-page .main__photos img:nth-child(6n+6) {
  width: 1598px;
  height: 666px;
}
.second-page .main__description {
  padding-top: 71px;
}
.second-page .main__description-title {
  color: #000;
  font-size: 64px;
  border-bottom: 1px solid #666;
  margin-bottom: 57px;
  padding-bottom: 11px;
}
.second-page .main__description-title span {
  color: #E11E18;
}
.second-page .main__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.second-page .main__speed {
  display: flex;
  padding-top: 11px;
  gap: 75px;
}
.second-page .main__speed-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #AAA;
  font-size: 20px;
  position: relative;
}
.second-page .main__speed-number span {
  color: var(--stroke_mini_photo, #2CA7CB);
  font-size: 80px;
}
.second-page .main__speed-number:first-child::after {
  content: "";
  width: 1px;
  height: 88px;
  position: absolute;
  bottom: 14px;
  right: -29px;
  z-index: 2;
  background: #666666;
}

.footer {
  background: #010B0F;
  padding: 88px 0;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logos {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__logos-logo {
  padding-left: 30px;
  border-left: 1px solid #FFFFFF;
}
.footer__company {
  color: var(--txt_color_second, #FFF);
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
}

.logo {
  color: var(--txt_color_second, #FFF);
  font-size: 32px;
}
.logo span {
  color: var(--color_second, #E11E18);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Fugaz One";
  font-weight: 400;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
  }
  .header__nav {
    width: 100%;
    margin-left: 20px;
  }
  img{
    width: 240px;
  }
  .header {
    background: url("../images/header_background.png"),cover no-repeat;
    background-position: -240px;
    background-size: 800px;
  }
  .header__search{
    width: 100px;
    background: transparent;
  }
  .header__search-input{
    display: none;
  } 
} 
