@import './components/header.scss';
@import './components/main.scss';
@import './components/footer.scss';
@import './components/logo.scss';



@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Fugaz One';
    font-weight: 400;
}
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

