.header{
    background: url('../images/header_background.png'), lightgray 50% / cover no-repeat;
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    &__search{
        width: 479px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 19px 46px 20px 22px;
        border-radius: 112px;
        background: var(--txt_color_second, #FFF);
        &-input{
            width: 100%;
            border: none;
            outline: none;
            font-size: 20px;
        }
    }    
    &__image{
        padding: 32px 0 144px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }    
}


.second-page{
    & .header{
        background: #020F14;
    }
}