.main{
    padding: 110px 0 123px 0;
    background: var(--txt_color_second, #FFF);
    &__filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 23px;
        margin-bottom: 70px;
        &-btn{
            width: 518px;
            padding: 54px 0 36px;
            border-radius: 5px;
            border: 1px solid #2CA7CB;
            background: transparent;
            color: var(--txt_color_main, #000);
            text-align: center;
            font-size: 32px;
            font-family: 'Fugaz One';
            transition: all 0.3s ease;
            &.active{
                color: var(--txt_color_second, #FFF);
                background: var(--color_main, #2CA7CB);
            }
            &:not(.active):hover{
                border: 1px solid var(--color_second, #E11E18);
                background: rgba(44, 167, 203, 0.10);
            }
        }
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        gap: 70px 23px;
        padding: 70px 0 97px 0;
        border-top: 1px solid #AAAAAA;
    }
    &__item{
        display: flex;
        flex-direction: column;
        gap: 15px;
        &-img{
            width: 100%;
            border-radius: 5px;
        }
        &-title{
            color: #000;
            font-size: 32px;
            & span{
                color: #E11E18;
            }
        }
    }    
}
.item{
    &__btns{
        display: flex;
        align-items: center;
        gap: 20px;
        &-btn{
            width: 225px;
            padding: 20px 0 19px 0;
            color: var(--txt_color-on-btn, #666);
            text-align: center;
            font-family: 'Fugaz One';
            font-size: 20px;
            border-radius: 5px;
            background: #EEE;
            border: none;
            outline: none;
            transition: all 0.3s ease;
            &:nth-child(2){
                flex-grow: 1;
            }
            &:hover{
                background: var(--stroke_mini_photo, #2CA7CB);
                color: var(--txt_color_second, #FFF);
            }
        }
    }
}
.show-more-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_showmore{
        color: var(--txt_color_second, #FFF);
        text-align: center;
        font-family: 'Fugaz One';
        font-size: 32px;
        border-radius: 10px;
        background: var(--color_main, #2CA7CB);   
        width: 377px;    
        padding: 23px 0;   
        border: none;
        outline: none;  
        transition: all 0.3s ease;
        &:hover{
            background: #17CBFF;
        }
    }
    &_up{
        background: none;
        border: none;
        outline: none;
        
        & img{
            display: block;
            transition: all 0.5s ease;
        }
        &:hover{
            & img{
                transform: translateY(-15px);
            }
        }
    }
}
.second-page{
    & .main{
        padding: 120px 0;
        &__info{
            display: flex;
            justify-content: space-between;
            &-img{
                
                width: 785px;
                height: 474px;
            }
            
        }
        &__desc{
            padding: 120px 0;
            &-title{
                color: #000;
                font-size: 36px;
                margin-bottom: 16px;
                & span{
                    color: #E11E18;
                }
            }
            &-text{
                color: #000;
                font-family: 'Montserrat';
                font-size: 20px;
                line-height: 164%; /* 32.8px */                
            }
        }
        &__photos{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            & img{
                border-radius: 5px;
                &:nth-child(6n+1){
                    width: 883px;
                    height: 411px;
                }
                &:nth-child(6n+2){
                    width: 687px;
                    height: 411px;
                }
                &:nth-child(6n+3){
                    width: 1598px;
                    height: 570px;
                }
                &:nth-child(6n+4){
                    width: 687px;
                    height: 411px;
                }
                &:nth-child(6n+5){
                    width: 883px;
                    height: 411px;
                }
                &:nth-child(6n+6){
                    width: 1598px;
                    height: 666px;
                }
            }            
        }
        &__description{
            padding-top: 71px;
            &-title{
                color: #000;
                font-size: 64px;
                border-bottom: 1px solid #666;
                margin-bottom: 57px;
                padding-bottom: 11px;
                & span{
                    color: #E11E18;
                }
            }
        }  
        &__box{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__speed{
            display: flex;
            padding-top: 11px;
            gap: 75px;
            &-number{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #AAA;
                font-size: 20px;
                position: relative;
                & span{
                    color: var(--stroke_mini_photo, #2CA7CB);
                    font-size: 80px;
                }
                &:first-child{
                    &::after{
                        content: '';
                        width: 1px;
                        height: 88px;
                        position: absolute;
                        bottom: 14px;
                        right: -29px;
                        z-index: 2;
                        background: #666666;
                    }
                }
            }
        }              
    }
}